html, body {

 height: 100%;

}

body {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

canvas {
    background-color: aquamarine;
    width: 1200px;
    height: 720px;
}
