html, body {

 height: 100%;

}

body {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: monospace;
}

#game-over-screen h3{
  font-size: 40px;
}

#game-over-screen div {
  font-size: 35px;
  color: red;
  font-weight: bold;

  
}

#texto{
  margin-left: 75px;
}

#final {
  margin-left: 100px;
  margin-top: 200px;
}
 


.screen {
  background-color:darkslategrey;
  width: 1400px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
canvas {
  background-image: url('./img/Background.png');
  background-position: center;
  background-size: cover;

}

#start-screen{
  background-image: url('./img/intro.png');
  background-position: center;
  background-size: cover;
}




#game-over-screen {

  background-image: url('./img/background_end.png');
  background-position: center;
  background-size: cover;
}

.button {
  border: none;
  background: url('/img/game_start_button.png') no-repeat left;
  margin-top: 450px;
  width: 300px;
  height: 200px;
  padding: 2px 8px;
}

#tryAgain{
  margin-top: px;

}

img {
  margin-left: 800px;
}